.popup__close-icon {
  background-image: url(../../../images/close_icon.svg);
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  background-size: contain;
  border: 0;
  top: -40px;
  right: -40px;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
